:root {
    /* color de fundo */
    --BG_principal: #000000;
    --BG_segundario: #ffffff;

    /* color text */
    --text_white: #ffffff;
    --text_black: #000000;
}
* {
    margin: 0;
    padding: 0;
}
#barra_menu {
    background-color: var(--text_white);
    height: 2px;
}

body {
    background-color: var(--BG_principal) !important;
    color: var(--BG_segundario) !important;
    font-family: montserrat !important;
}

header {
    padding-bottom: 120px;

    .nav_mobile {
        
        .navbar {
            /* ajuste do navbar */
            width: 100% !important; 
            background-color: transparent !important;
            backdrop-filter: blur(5px);
            border-bottom: solid 2px white;
            padding: 10px 0 5px 0 !important;

            .container-fluid {
                padding: 0 10px 15px 10px !important;
                .logo {
                    align-content: center !important;

                    a {
                        img {
                            width: 50px !important;
                        }
                    }

                    .nome_logo {
                        padding: 5px 0 0 10px !important;
                        margin: 0 !important;
                        color: var(--text_white) !important;
                        font-weight: bold !important;
                        font-size: 18px !important;
                    }
                }

                .area_botao {
                    display: flex;
                    align-content: center !important;
                    gap: 15px;
                    a {
                        color: var(--text_white) !important;
                        font-size: 34px !important;
                    }

                    .navbar-toggler {
                        width: 60px !important;
                        height: 43px !important;
                        border: solid 2px var(--text_white) !important;
                        margin-top: 2px;
                        .navbar-toggler-icon {
                            filter: invert(100%) !important;
                        }
                    }
                }
            }

            .collapse {
                margin-top: 10px;
                .navbar-nav {
                    .nav-item {

                        .dropdown-menu-1 {
                            width: 60%;
                            background-color: rgba(255, 255, 255, 0.205);
                            border-radius: 15px;
                            border: solid 2px white !important;

                            margin-left: 10px;

                            li {
                                a {
                                    i {
                                        margin-right: 5px;
                                        font-size: 22px;
                                    }
                                    color: white;
                                    font-size: 18px;
                                    font-weight: bold;
                                    &:hover {
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }

                        .dropdown-menu-2 {
                            width: 60%;
                            background-color: rgba(255, 255, 255, 0.205);
                            border-radius: 15px;
                            border: solid 2px white !important;

                            margin-left: 10px;

                            li {
                                a {
                                    color: white;
                                    font-size: 18px;
                                    font-weight: bold;
                                    &:hover {
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }

                        .nav-link {
                            color: white !important;
                            font-family: Montserrat 18px !important;

                            padding: 8px 10px !important;
                        }

                     
                    }
                }

                .login {
                    margin:0 10px;
                    display: flex;
                    
                    .icon {
                        a {
                            color: var(--text_white) !important;
                            font-size: 40px !important;
                        }
                    }

                  .link {
                    display: flex;
                    flex-direction: column;
                    padding: 6px 0 0 5px;


                    a {
                        color: var(--text_white) !important;
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration: none;
                        height: 20px;
                    }
                  }
                }
            }

            form {
                margin: auto;
                gap: 15px;

                input {
                    border-radius: 50px;
                    border: none !important;
                    height: 40px !important;
                    width: 260px !important;
                    background-color: #d9d9d9 !important;
                    padding: 0 15px !important;
                }

                a {
                    color: #d9d9d9 !important;
                    svg {
                        width: 40px;
                    }
                }
            }
        }
    }
}




@media (min-width: 480px) {

}